<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqlrecord.sqlrecord.cart.model.dao.CartMapper">

	<resultMap type="cart" id="cartRM">
    	<id property="cartNum" column="cart_num"/>
	    <result property="cartAmount" column="cart_amount" jdbcType="INTEGER"/>
	    <association property="member" javaType="member">
	    	<id property="memberNo" column="MEMBER_ID"/>
		    <result property="memberId" column="MEMBER_ID"/>
		    <result property="memberPw" column="MEMBER_PW"/>
		    <result property="name" column="NAME"/>
		    <result property="email" column="EMAIL"/>
		    <result property="tell" column="TELL"/>
		    <result property="addr1" column="ADDR1"/>
		    <result property="addr2" column="ADDR2"/>
		    <result property="postcode" column="POSTCODE"/>
		    <result property="birth" column="BIRTH"/>
		    <result property="point" column="POINT"/>
		    <result property="status" column="STATUS"/>
		    <result property="resDate" column="RES_DATE"/>
    	</association>  
    	<association property="product" javaType="product">
	        <result property="productNo" column="PRODUCT_NO"/>
	        <result property="productName" column="PRODUCT_NAME"/>
	        <result property="productPrice" column="PRODUCT_PRICE"/>
	        <result property="productStatus" column="PRODUCT_STATUS"/>
	        <result property="productDate" column="PRODUCT_DATE"/>
	        <result property="tagNo" column="tag_no"/>
	        <result property="productDetail" column="product_detail"/>
	        <result property="productCate" column="product_cate"/>
	        <collection column="product_no = product_no" property="productPhotosList" javaType="List" select="getPhotos">
	        	<result property="productPhotosNo" column="PHOTO_NO"/>
			    <result property="productPhotosName" column="PHOTO_NAME"/>
			    <result property="productPhotosPath" column="PHOTO_PATH"/>
			</collection>
	    </association>
	</resultMap>

	<resultMap type="guestCart" id="guestCartRM">
    	<id property="guestCartNum" column="cart_num"/>
    	<result property="guestNo" column="guest_no"/>  
	    <result property="guestCartAmount" column="guest_cart_amount" jdbcType="INTEGER"/>
    	<association property="product" javaType="product">
	        <result property="productNo" column="product_no"/>
	        <result property="productName" column="product_name"/>
	        <result property="productPrice" column="product_price"/>
	        <result property="productStatus" column="product_status"/>
	        <result property="productDate" column="product_date"/>
	        <result property="tagNo" column="tag_no"/>
	        <result property="productDetail" column="product_detail"/>
	        <result property="productCate" column="product_cate"/>
	        <collection column="product_no = product_no" property="productPhotosList" javaType="List" select="getPhotos">
	        	<result property="productPhotosNo" column="PHOTO_NO"/>
			    <result property="productPhotosName" column="PHOTO_NAME"/>
			    <result property="productPhotosPath" column="PHOTO_PATH"/>
			</collection>
	    </association>
	</resultMap>

	<select id="cartListSelect" parameterType="_int" resultMap="cartRM">
	 WITH RankedCart AS (
	    SELECT
	        c.CART_NUM,
	        c.PRODUCT_NO,
	        c.MEMBER_NO,
	        c.CART_AMOUNT,
	        p.PRODUCT_NAME,
	        p.PRODUCT_PRICE,
	        ps.PHOTO_PATH,
	        ROW_NUMBER() OVER (PARTITION BY c.PRODUCT_NO ORDER BY c.CART_NUM DESC) AS rn
	    FROM
	        MEMBER_CART c
	    JOIN
	        PRODUCT p ON c.PRODUCT_NO = p.PRODUCT_NO
	    LEFT JOIN
	        PRODUCT_PHOTOS ps ON c.PRODUCT_NO = ps.PRODUCT_NO
	    WHERE
	        c.MEMBER_NO = #{member_no}
		)
		SELECT
		    CART_NUM,
		    PRODUCT_NO,
		    MEMBER_NO,
		    CART_AMOUNT,
		    PRODUCT_NAME,
		    PRODUCT_PRICE,
		    PHOTO_PATH
		FROM
		    RankedCart
		WHERE
		    rn = 1
		ORDER BY
		    CART_NUM DESC
	
	
	</select>
	
	<select id="guestCartListSelect" parameterType="_int" resultMap="guestCartRM">
	 SELECT
			c.PRODUCT_NO,
			c.GUEST_NO,
			c.GUEST_CART_AMOUNT,
			p.PRODUCT_PRICE,
			p.PRODUCT_PHOTO1,
			p.PRODUCT_NAME
	   FROM
			GUEST_CART c
	   JOIN
			PRODUCT p
		 ON
			c.PRODUCT_NO = p.PRODUCT_NO
	  WHERE
			c.GUEST_NO = #{GUEST_no}
	  ORDER
		 BY
 			c.GUEST_CART_NUM
	   DESC
	
	
	</select>
	
	
	<select id="getPhotos" resultType="productPhotos">
		SELECT
				PHOTO_NO productPhotosNo,         
				PRODUCT_NO productNo,         
				PHOTO_NAME productPhotosName,
				PHOTO_PATH productPhotosPath
		FROM
				PRODUCT_PHOTOS
	</select>

</mapper>