<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqlrecord.sqlrecord.cart.model.dao.CartMapper">

	<resultMap type="cart" id="cartRM">
    	<id property="cartNum" column="cart_num"/>
	    <result property="cartAmount" column="cart_amount" jdbcType="INTEGER"/>
	    <association property="member" javaType="member">
	    	<id property="memberNo" column="MEMBER_ID"/>
		    <result property="memberId" column="MEMBER_ID"/>
		    <result property="memberPw" column="MEMBER_PW"/>
		    <result property="name" column="NAME"/>
		    <result property="email" column="EMAIL"/>
		    <result property="tell" column="TELL"/>
		    <result property="addr1" column="ADDR1"/>
		    <result property="addr2" column="ADDR2"/>
		    <result property="postcode" column="POSTCODE"/>
		    <result property="birth" column="BIRTH"/>
		    <result property="point" column="POINT"/>
		    <result property="status" column="STATUS"/>
		    <result property="resDate" column="RES_DATE"/>
    	</association>  
    	<association property="product" javaType="product">
	        <result property="productNo" column="PRODUCT_NO"/>
	        <result property="productName" column="PRODUCT_NAME"/>
	        <result property="productPrice" column="PRODUCT_PRICE"/>
	        <result property="productStatus" column="PRODUCT_STATUS"/>
	        <result property="productDate" column="PRODUCT_DATE"/>
	        <result property="tagNo" column="tag_no"/>
	        <result property="productDetail" column="product_detail"/>
	        <result property="productCate" column="product_cate"/>
	        <collection column="product_no" property="productPhotosList" javaType="List" select="getPhotos">
	        	<result property="productPhotosNo" column="PHOTO_NO"/>
			    <result property="productPhotosName" column="PHOTO_NAME"/>
			    <result property="productPhotosPath" column="PHOTO_PATH"/>
			    <result property="productNo" column="PRODUCT_NO"/>
		</collection>
	    </association>
	</resultMap>


	<select id="cartListSelect" parameterType="_int" resultMap="cartRM">
	 
		SELECT
		    m.CART_NUM,
		    m.PRODUCT_NO,
		    m.MEMBER_NO,
		    m.CART_AMOUNT,
		    p.PRODUCT_NAME,
		    p.PRODUCT_PRICE,
		    p.PHOTO_PATH
		FROM
		     MEMBER_CART m
		JOIN
			PRODUCT p
		ON
			m.PRODUCT_NO = p.PRODUCT_NO
		WHERE
		    m.MEMBER_NO = #{member_no}
		   
		ORDER BY
		    m.CART_NUM DESC
	
	
	</select>
	

	
	
	<select id="getPhotos" parameterType="int" resultType="productPhotos">
		SELECT
				PHOTO_NO productPhotosNo,         
				PRODUCT_NO productNo,         
				PHOTO_NAME productPhotosName,
				PHOTO_PATH productPhotosPath
		FROM
				PRODUCT_PHOTOS
		WHERE
				product_no = #{product_no}
	</select>
	
	
	<insert id="insert" parameterType="cart">
		INSERT
		INTO
				MEMBER_CART
		VALUES
				(
				MEMBER_CART_SEQ.NEXTVAL,
				#{product.productNo},
				#{member.memberNo},
				#{cartAmount}
				)
	</insert>
	
	

</mapper>