<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqlrecord.sqlrecord.orders.model.dao.OrdersMapper">

	
	<insert id="insertMemberOrders">
		INSERT
		INTO
				MEMBER_ORDERS
		VALUES
				(
				MEMBER_ORDERS_SEQ.NEXTVAL,
				#{memberOrdersAddress},
				#{memberOrdersAddress2},
				#{memberOrdersPostcode},
				SYSDATE,
				#{memberNo}
				)
	</insert>

	<select id="selectOneMemberOrdersNo" parameterType="_int" resultType="_int">
		SELECT
				Max(MEMBER_ORDERS_NO) 
		FROM
				MEMBER_ORDERS
		WHERE
				MEMBER_NO = #{memberNo}
		ORDER
		BY
				MEMBER_ORDERS_NO
		DESC
				
	</select>
	
	
	<insert id="insertOrdersDetail" parameterType="memberOrdersDetail">

		INSERT
		INTO
				MEMBER_ORDERS_DETAIL
		VALUES
				(
				MEMBER_ORDERS_DETAIL_SEQ.NEXTVAL,
				#{product.productNo},
				#{memberOrders.memberOrdersNo},
				#{memberOrdersDetailAmount},
				#{memberOrdersDetailPrice},
				DEFAULT,
				DEFAULT,
				DEFAULT
				)

	</insert>
	
	<resultMap type="memberOrdersDetail" id="odRM">
    	<id property="memberOrdersDetailNo" column="MEMBER_orders_detail_no"/>
    	<result property="memberOrdersDetailAmount" column="MEMBER_orders_detail_amount"/>  
	    <result property="memberOrdersDetailPrice" column="MEMBER_orders_detail_price"/>
	    <result property="trackingNum" column="TRACKING_NUM"/>
	    <result property="memberOrdersDetailExd" column="MEMBER_ORDERS_DETAIL_EXD"/>
	    <result property="memberOrdersDetailStatus" column="MEMBER_ORDERS_DETAIL_STATUS"/>
	    <association property="product" javaType="product">
	        <result property="productNo" column="product_no"/>
	        <result property="productName" column="product_name"/>
	        <result property="productPrice" column="product_price"/>
	        <result property="productStatus" column="product_status"/>
	        <result property="productDate" column="product_date"/>
	        <result property="tagNo" column="tag_no"/>
	        <result property="productDetail" column="product_detail"/>
	        <result property="productCate" column="product_cate"/>
		<collection property="productPhotosList" column="product_no" javaType="List" select="getPhotos">
	        	<result property="productPhotosNo" column="PHOTO_NO"/>
			    <result property="productPhotosName" column="PHOTO_NAME"/>
			    <result property="productPhotosPath" column="PHOTO_PATH"/>
			    <result property="productNo" column="PRODUCT_NO"/>
		</collection>	
	    </association>
	    <association property="memberOrders" javaType="memberOrders">
	    	<result property="memberOrdersNo" column="MEMBER_ORDERS_NO"/>
	        <result property="memberOrdersAddress" column="MEMBER_ORDERS_ADDRESS"/>
	        <result property="memberOrdersAddress2" column="MEMBER_ORDERS_ADDRESS2"/>
	        <result property="memberOrdersPostcode" column="MEMBER_ORDERS_POSTCODE"/>
	        <result property="memberOrdersDate" column="MEMBER_ORDERS_DATE"/>
	        <result property="memberNo" column="MEMBER_NO"/>
	    </association>
	</resultMap>
	
	
	
	<select id="getOrdersDetailAll" resultMap="odRM">
        SELECT
                mod.MEMBER_ORDERS_DETAIL_NO,
		        p.PRODUCT_NO,
                p.PRODUCT_NAME,
                p.product_cate,
                p.product_price,
                p.product_status,
                mo.MEMBER_NO,
                mo.MEMBER_ORDERS_NO,
                mo.MEMBER_ORDERS_ADDRESS,
                mo.MEMBER_ORDERS_ADDRESS2,
                mo.MEMBER_ORDERS_POSTCODE,
                mo.MEMBER_ORDERS_DATE,
		        mod.MEMBER_ORDERS_DETAIL_AMOUNT,
		        mod.MEMBER_ORDERS_DETAIL_PRICE,
		        mod.MEMBER_ORDERS_DETAIL_EXD,
		        mod.TRACKING_NUM,
		        mod.MEMBER_ORDERS_DETAIL_STATUS
        FROM
                MEMBER_ORDERS_DETAIL mod
        JOIN
                MEMBER_ORDERS mo
        ON
                mod.MEMBER_ORDERS_NO = mo.MEMBER_ORDERS_NO        
        JOIN
        		PRODUCT p
        ON	
        		mod.PRODUCT_NO = p.PRODUCT_NO
        ORDER
        BY
                MEMBER_ORDERS_DATE
        DESC
</select>
	
	
	
	
	<select id="getOrdersDetail" resultMap="odRM">
        SELECT
                mod.MEMBER_ORDERS_DETAIL_NO,
		        p.PRODUCT_NO,
                p.PRODUCT_NAME,
                p.product_cate,
                p.product_price,
                p.product_status,
                mo.MEMBER_NO,
                mo.MEMBER_ORDERS_NO,
                mo.MEMBER_ORDERS_ADDRESS,
                mo.MEMBER_ORDERS_ADDRESS2,
                mo.MEMBER_ORDERS_POSTCODE,
                mo.MEMBER_ORDERS_DATE,
		        mod.MEMBER_ORDERS_DETAIL_AMOUNT,
		        mod.MEMBER_ORDERS_DETAIL_PRICE,
		        mod.MEMBER_ORDERS_DETAIL_EXD,
		        mod.TRACKING_NUM,
		        mod.MEMBER_ORDERS_DETAIL_STATUS
        FROM
                MEMBER_ORDERS_DETAIL mod
        JOIN
                MEMBER_ORDERS mo
        ON
                mod.MEMBER_ORDERS_NO = mo.MEMBER_ORDERS_NO        
        JOIN
        		PRODUCT p
        ON	
        		mod.PRODUCT_NO = p.PRODUCT_NO
       	WHERE
                mo.MEMBER_NO = #{memberNo}
        ORDER
        BY
                MEMBER_ORDERS_DATE
        DESC
</select>


	
	
	<select id="getOrdersDetailOne" parameterType="_int" resultMap="odRM">
        SELECT
                od.MEMBER_ORDERS_DETAIL_NO,
		        p.PRODUCT_NO,
                p.PRODUCT_NAME,
                p.product_cate,
                p.product_price,
                p.product_status,
                mo.MEMBER_NO,
                mo.MEMBER_ORDERS_ADDRESS,
                mo.MEMBER_ORDERS_ADDRESS2,
                mo.MEMBER_ORDERS_POSTCODE,
                mo.MEMBER_ORDERS_DATE,
		        od.MEMBER_ORDERS_NO,
		        od.MEMBER_ORDERS_DETAIL_AMOUNT,
		        od.MEMBER_ORDERS_DETAIL_PRICE,
		        od.MEMBER_ORDERS_DETAIL_EXD,
		        od.TRACKING_NUM,
		        od.MEMBER_ORDERS_DETAIL_STATUS
        FROM
                MEMBER_ORDERS_DETAIL od
        JOIN
                MEMBER_ORDERS mo
        ON
                od.MEMBER_ORDERS_NO = mo.MEMBER_ORDERS_NO
        JOIN
                PRODUCT p
        ON
                od.PRODUCT_NO = p.product_no
        WHERE
                od.MEMBER_ORDERS_DETAIL_NO = #{memberOrdersDetailNo}           
        ORDER
        BY
                MEMBER_ORDERS_DATE
        DESC
</select>

	<select id="getOrdersDetailOneForTracking" parameterType="_int" resultMap="odRM">
        SELECT
                od.MEMBER_ORDERS_DETAIL_NO,
		        p.PRODUCT_NO,
                p.PRODUCT_NAME,
                p.product_cate,
                p.product_price,
                p.product_status,
                mo.MEMBER_NO,
                mo.MEMBER_ORDERS_ADDRESS,
                mo.MEMBER_ORDERS_ADDRESS2,
                mo.MEMBER_ORDERS_POSTCODE,
                mo.MEMBER_ORDERS_DATE,
		        od.MEMBER_ORDERS_NO,
		        od.MEMBER_ORDERS_DETAIL_AMOUNT,
		        od.MEMBER_ORDERS_DETAIL_PRICE,
		        od.MEMBER_ORDERS_DETAIL_EXD,
		        od.TRACKING_NUM,
		        od.MEMBER_ORDERS_DETAIL_STATUS
        FROM
                MEMBER_ORDERS_DETAIL od
        JOIN
                MEMBER_ORDERS mo
        ON
                od.MEMBER_ORDERS_NO = mo.MEMBER_ORDERS_NO
        JOIN
                PRODUCT p
        ON
                od.PRODUCT_NO = p.product_no
        WHERE
                od.TRACKING_NUM = #{trackingNum}           
        ORDER
        BY
                MEMBER_ORDERS_DATE
        DESC
</select>


	<update id="updateMemberOrdersStatus" parameterType="map">
		UPDATE
				MEMBER_ORDERS_DETAIL
		SET
				MEMBER_ORDERS_DETAIL_STATUS
				=
				#{string}
		WHERE
				TRACKING_NUM
				=
				#{trackingNum}
				
	
	
	
	</update>
	
	
	<select id="getProduct" resultType="product">
        SELECT
		        PRODUCT_NO productNo,
		        PRODUCT_NAME productName,
		        PRODUCT_PRICE productPrice,
                PRODUCT_CATE prodcutCate,
		        PRODUCT_STATUS productStatus,
		        PRODUCT_DATE productDate,
		        TAG_NO tagNo
	    FROM
	        	PRODUCT
        ORDER
        BY
                PRODUCT_NO
        DESC			
	</select>
	
	<select id="getPhotos" parameterType="_int" resultType="productPhotos">
		SELECT
				PHOTO_NO productPhotosNo,         
				PRODUCT_NO productNo,         
				PHOTO_NAME productPhotosName,
				PHOTO_PATH productPhotosPath
		FROM
				PRODUCT_PHOTOS
		WHERE
				product_no = #{product_no}
	</select>
	
	
	<update id="updateMemberOrdersExd" parameterType="memberOrdersEx">
		UPDATE
				MEMBER_ORDERS_DETAIL
		SET
				MEMBER_ORDERS_DETAIL_EXD
				=
				#{memberOrdersExType}
		WHERE
				MEMBER_ORDERS_DETAIL_NO
				=
				#{memberOrdersDetailNo.memberOrdersDetailNo}

	</update>
	
	<insert id="insertMemberOrdersEx" parameterType="memberOrdersEx">
		INSERT
		INTO
				MEMBER_ORDERS_EX
		VALUES
				(
				MEMBER_ORDERS_EX_SEQ.NEXTVAL,
				#{memberOrdersExType},
				#{memberOrdersExAmount},
				SYSDATE,
				#{memberOrdersDetailNo.memberOrdersDetailNo},
				DEFAULT,
				#{memberOrdersExAddress},
				#{memberOrdersExAddress2},
				#{memberOrdersExPostcode},
				DEFAULT,
				<choose>
					<when test="productNo.productNo == 0">
						DEFAULT,
					</when>
					<otherwise>
						#{productNo.productNo},
					</otherwise>
				</choose>
				#{memberOrdersExReason}				
				)
			
	</insert>
	
	
	<resultMap type="memberOrdersEx" id="oeRM">
		<id property="memberOrdersExNo" column="MEMBER_ORDERS_EX_NO"/>
		<result property="memberOrdersExType" column="MEMBER_ORDERS_EX_TYPE"/>
		<result property="memberOrdersExAmount" column="MEMBER_ORDERS_EX_AMOUNT"/>
		<result property="memberOrdersExDate" column="MEMBER_ORDERS_EX_DATE"/>
		<result property="trackingNum" column="TRACKING_NUM"/>
		<result property="memberOrdersExAddress" column="MEMBER_ORDERS_EX_ADDRESS"/>
		<result property="memberOrdersExAddress2" column="MEMBER_ORDERS_EX_ADDRESS2"/>
		<result property="memberOrdersExPostcode" column="MEMBER_ORDERS_EX_POSTCODE"/>
		<result property="memberOrdersExStatus" column="MEMBER_ORDERS_EX_STATUS"/>
		<result property="memberOrdersExReason" column="MEMBER_ORDERS_EX_REASON"/>
		<association property="product" javaType="product">
	        <result property="productNo" column="product_no"/>
	        <result property="productName" column="product_name"/>
	        <result property="productPrice" column="product_price"/>
	        <result property="productStatus" column="product_status"/>
	        <result property="productDate" column="product_date"/>
	        <result property="tagNo" column="tag_no"/>
	        <result property="productDetail" column="product_detail"/>
	        <result property="productCate" column="product_cate"/>
		<collection property="productPhotosList" column="product_no" javaType="List" select="getPhotos">
	        	<result property="productPhotosNo" column="PHOTO_NO"/>
			    <result property="productPhotosName" column="PHOTO_NAME"/>
			    <result property="productPhotosPath" column="PHOTO_PATH"/>
			    <result property="productNo" column="PRODUCT_NO"/>
		</collection>
		</association>
		<association property="memberOrdersDetail" resultMap="odRM">
			<result property="memberOrdersDetailNo" column="MEMBER_orders_detail_no"/>
	    	<result property="memberOrdersDetailAmount" column="MEMBER_orders_detail_amount"/>  
		    <result property="memberOrdersDetailPrice" column="MEMBER_orders_detail_price"/>
		    <result property="trackingNum" column="TRACKING_NUM"/>
		    <result property="memberOrdersDetailExd" column="MEMBER_ORDERS_DETAIL_EXD"/>
		    <result property="memberOrdersDetailStatus" column="MEMBER_ORDERS_DETAIL_STATUS"/>
		    <association property="product" javaType="product">
		        <result property="productNo" column="product_no"/>
		        <result property="productName" column="product_name"/>
		        <result property="productPrice" column="product_price"/>
		        <result property="productStatus" column="product_status"/>
		        <result property="productDate" column="product_date"/>
		        <result property="tagNo" column="tag_no"/>
		        <result property="productDetail" column="product_detail"/>
		        <result property="productCate" column="product_cate"/>
			<collection property="productPhotosList" column="product_no" javaType="List" select="getPhotos">
		        	<result property="productPhotosNo" column="PHOTO_NO"/>
				    <result property="productPhotosName" column="PHOTO_NAME"/>
				    <result property="productPhotosPath" column="PHOTO_PATH"/>
				    <result property="productNo" column="PRODUCT_NO"/>
			</collection>
			</association>
			<association property="memberOrders" javaType="memberOrders">
		    	<result property="memberOrdersNo" column="MEMBER_ORDERS_NO"/>
		        <result property="memberOrdersAddress" column="MEMBER_ORDERS_ADDRESS"/>
		        <result property="memberOrdersAddress2" column="MEMBER_ORDERS_ADDRESS2"/>
		        <result property="memberOrdersPostcode" column="MEMBER_ORDERS_POSTCODE"/>
		        <result property="memberOrdersDate" column="MEMBER_ORDERS_DATE"/>
		        <result property="memberNo" column="MEMBER_NO"/>
		    </association>
		</association>
	</resultMap>

	<select id="getOrdersEx" resultMap="oeRM">
		SELECT
			    moe.MEMBER_ORDERS_EX_NO,
			    moe.MEMBER_ORDERS_EX_TYPE,
			    moe.MEMBER_ORDERS_EX_AMOUNT,
			    moe.MEMBER_ORDERS_EX_DATE,
			    moe.TRACKING_NUM,
			    moe.MEMBER_ORDERS_EX_ADDRESS,
			    moe.MEMBER_ORDERS_EX_ADDRESS2,
			    moe.MEMBER_ORDERS_EX_POSTCODE,
			    moe.MEMBER_ORDERS_EX_STATUS,
			    moe.MEMBER_ORDERS_EX_REASON,
			    p.PRODUCT_NO,
			    p.PRODUCT_NAME,
			    p.PRODUCT_PRICE,
			    p.PRODUCT_STATUS,
			    p.PRODUCT_DATE,
			    p.TAG_NO,
			    p.PRODUCT_DETAIL,
			    p.PRODUCT_CATE,
			    mod.MEMBER_ORDERS_DETAIL_NO,
			    mod.MEMBER_ORDERS_DETAIL_AMOUNT,
			    mod.MEMBER_ORDERS_DETAIL_PRICE,
			    mod.MEMBER_ORDERS_DETAIL_EXD,
			    mod.MEMBER_ORDERS_DETAIL_STATUS,
			    mo.MEMBER_ORDERS_NO,
			    mo.MEMBER_ORDERS_ADDRESS,
			    mo.MEMBER_ORDERS_ADDRESS2,
			    mo.MEMBER_ORDERS_POSTCODE,
			    mo.MEMBER_ORDERS_DATE,
			    mo.MEMBER_NO
		FROM
		    	MEMBER_ORDERS_EX moe
		LEFT JOIN
		    	MEMBER_ORDERS_DETAIL mod ON moe.MEMBER_ORDERS_DETAIL_NO = mod.MEMBER_ORDERS_DETAIL_NO
		LEFT JOIN
		    	PRODUCT p ON mod.PRODUCT_NO = p.PRODUCT_NO
		LEFT JOIN
		    	MEMBER_ORDERS mo ON mod.MEMBER_ORDERS_NO = mo.MEMBER_ORDERS_NO
		WHERE
		    	mo.MEMBER_NO = #{memberNo}
		ORDER BY
    			moe.MEMBER_ORDERS_EX_NO 
    	DESC
		
	</select>
	
	<!-- ================================ 관리자 페이지 ================================ -->
	<!-- 주문건수 출력 -->
	<select id="orderCount" resultType="_int">
		SELECT
				COUNT(MEMBER_ORDERS_NO)
		  FROM
		  		MEMBER_ORDERS
	</select>
	
	<!-- 전체 MEMBER_ORDERS 리스트 -->
	<select id="getAllMemberOrders" resultMap="memberOrdersResultMap">
		SELECT
	        O.MEMBER_ORDERS_NO memberOrdersNo,
	        O.MEMBER_ORDERS_ADDRESS addr1,
	        O.MEMBER_ORDERS_ADDRESS2 addr2,
	        O.MEMBER_ORDERS_POSTCODE postcode,
	        O.MEMBER_ORDERS_DATE orderDate,
	        M.MEMBER_ID memberId,
	        P.PRODUCT_CATE productCate,
	        P.PRODUCT_NO productNo,
	        P.PRODUCT_NAME productName,
	        P.PRODUCT_STATUS productStatus,
	        SUM(OD.MEMBER_ORDERS_DETAIL_PRICE) totalPrice
	  FROM
	        MEMBER_ORDERS O
	  JOIN
	        MEMBER M ON O.MEMBER_NO = M.MEMBER_NO
	  JOIN
	        MEMBER_ORDERS_DETAIL OD ON O.MEMBER_ORDERS_NO = OD.MEMBER_ORDERS_NO
	  JOIN
	        PRODUCT P ON OD.PRODUCT_NO = P.PRODUCT_NO
	 GROUP
	    BY
	        O.MEMBER_ORDERS_NO,
	        O.MEMBER_ORDERS_ADDRESS,
	        O.MEMBER_ORDERS_ADDRESS2,
	        O.MEMBER_ORDERS_POSTCODE,
	        O.MEMBER_ORDERS_DATE,
	        M.MEMBER_ID,
	        P.PRODUCT_CATE,
			P.PRODUCT_NO,
			P.PRODUCT_NAME,
			P.PRODUCT_STATUS
     LIMIT
     		#{offset}, #{limit}
	</select>
	
	<!-- MEMBER_ORDERS resultMap -->
	<resultMap id="memberOrdersResultMap" type="memberOrders">
        <id property="memberOrdersNo" column="memberOrdersNo"/>
        <result property="addr1" column="addr1"/>
        <result property="addr2" column="addr2"/>
        <result property="postcode" column="postcode"/>
        <result property="orderDate" column="orderDate"/>
        <result property="memberId" column="memberId"/>
        <result property="productCate" column="productCate"/>
        <result property="productNo" column="productNo"/>
        <result property="productName" column="productName"/>
        <result property="productStatus" column="productStatus"/>
        <result property="totalPrice" column="totalPrice"/>
        
        <association property="memberOrders" javaType="memberOrders">
            <id property="memberOrdersNo" column="memberOrdersNo"/>
            <result property="memberOrdersAddress" column="addr1"/>
            <result property="memberOrdersAddress2" column="addr2"/>
            <result property="memberOrdersPostcode" column="postcode"/>
            <result property="memberOrdersDate" column="orderDate"/>
            <result property="memberNo" column="memberNo"/>
        </association>
        
        <collection property="products" ofType="com.sqlrecord.sqlrecord.orders.model.vo.Product">
            <id property="productNo" column="productNo"/>
            <result property="productName" column="productName"/>
            <result property="productPrice" column="productPrice"/>
            <result property="productStatus" column="productStatus"/>
            <result property="productCate" column="productCate"/>
            <collection property="productPhotosList" ofType="com.sqlrecord.sqlrecord.orders.model.vo.ProductPhotos">
                <result property="productPhotosName" column="productPhotosName"/>
                <result property="productPhotosPath" column="productPhotosPath"/>
            </collection>
        </collection>
    </resultMap>
    
    
    <!-- 특정 memberOrdersNo에 해당하는 memberOrdersDetail 리스트 -->
    <select id="getMemberOrdersDetails" resultMap="memberOrdersDetailResultMap">
        SELECT
	            OD.MEMBER_ORDERS_DETAIL_NO,
	            OD.MEMBER_ORDERS_DETAIL_AMOUNT,
	            OD.MEMBER_ORDERS_DETAIL_PRICE,
	            P.PRODUCT_NO,
	            P.PRODUCT_NAME,
	            P.PRODUCT_PRICE,
	            P.PRODUCT_STATUS,
	            P.PRODUCT_CATE,
	            PP.PHOTO_NAME AS productPhotosName,
	            PP.PHOTO_PATH AS productPhotosPath
          FROM
            	MEMBER_ORDERS_DETAIL OD
          JOIN
            	PRODUCT P ON OD.PRODUCT_NO = P.PRODUCT_NO
          LEFT
          JOIN
            	PRODUCT_PHOTOS PP ON P.PRODUCT_NO = PP.PRODUCT_NO
         WHERE
            	OD.MEMBER_ORDERS_NO = #{memberOrdersNo}
         ORDER
        	BY
            	OD.MEMBER_ORDERS_DETAIL_NO ASC
    </select>

    <!-- MEMBER_ORDERS_DETAIL resultMap -->
    <resultMap id="memberOrdersDetailResultMap" type="memberOrdersDetail">
        <id property="memberOrdersDetailNo" column="MEMBER_ORDERS_DETAIL_NO"/>
        <result property="memberOrdersDetailAmount" column="MEMBER_ORDERS_DETAIL_AMOUNT"/>
        <result property="memberOrdersDetailPrice" column="MEMBER_ORDERS_DETAIL_PRICE"/>
        
        <association property="product" javaType="product">
            <id property="productNo" column="PRODUCT_NO"/>
            <result property="productName" column="PRODUCT_NAME"/>
            <result property="productPrice" column="PRODUCT_PRICE"/>
            <result property="productStatus" column="PRODUCT_STATUS"/>
            <result property="productCate" column="PRODUCT_CATE"/>
            
            <collection property="productPhotosList" ofType="productPhotos">
                <result property="productPhotosName" column="productPhotosName"/>
                <result property="productPhotosPath" column="productPhotosPath"/>
            </collection>
        </association>
    </resultMap>
	

</mapper>