<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqlrecord.sqlrecord.orders.model.dao.OrdersMapper">

	
	<insert id="insertMemberOrders">
		INSERT
		INTO
				MEMBER_ORDERS
		VALUES
				(
				MEMBER_ORDERS_SEQ.NEXTVAL,
				#{orders_address},
				#{orders_address2},
				#{orders_postcode},
				SYSDATE,
				#{member_no}
				)
	</insert>

	<select id="selectOneMemberOrdersNo" parameterType="_int" resultType="_int">
		SELECT
				Max(ORDERS_NO)
		FROM
				MEMBER_ORDERS
		WHERE
				MEMBER_NO = #{member_no}
		ORDER
		BY
				ORDERS_NO
		DESC
				
	</select>
	
	
	<insert id="insertOrdersDetail" parameterType="OrdersDetail">
		INSERT INTO ORDERS_DETAIL (
        ORDERS_DETAIL_NO,
        PRODUCT_NO,
        ORDERS_NO,
        ORDERS_DETAIL_AMOUNT,
        ORDERS_DETAIL_PRICE,
        orders_detail_exchanged,
        TRACKING_NUM,
        ORDERS_DETAIL_STATUS
    ) VALUES (
        ORDERS_DETAIL_SEQ.NEXTVAL,
        #{product.product_no},
        #{memberOrders.orders_no},
        #{orders_detail_amount},
        #{orders_detail_price},
        DEFAULT,
        DEFAULT,
        DEFAULT
    )
	</insert>
	
	<resultMap type="OrdersDetail" id="odRM">
    	<id property="orders_detail_no" column="orders_detail_no"/>
    	<result property="orders_detail_amount" column="orders_detail_amount"/>  
	    <result property="orders_detail_price" column="orders_detail_price"/>
	    <result property="TRACKING_NUM" column="TRACKING_NUM"/>
	    <result property="ORDERS_EXCHANGED" column="ORDERS_EXCHANGED"/>
	    <result property="ORDERS_DETAIL_STATUS" column="ORDERS_DETAIL_STATUS"/>
	    <association property="product" javaType="product">
	        <result property="product_no" column="product_no"/>
	        <result property="product_name" column="product_name"/>
	        <result property="product_price" column="product_price"/>
	        <result property="product_status" column="product_status"/>
	        <result property="product_date" column="product_date"/>
	        <result property="product_photo1" column="product_photo1"/>
	        <result property="product_photo2" column="product_photo2"/>
	        <result property="product_photo3" column="product_photo3"/>
	        <result property="tag_no" column="tag_no"/>
	        <result property="product_detail" column="product_detail"/>
	        <result property="product_cate" column="product_cate"/>
	        <result property="color" column="color"/>
	    </association>
	    <association property="memberOrders" javaType="memberOrders">
	    	<result property="MEMBER_NO" column="MEMBER_NO"/>
	        <result property="orders_address" column="orders_address"/>
	        <result property="orders_address2" column="orders_address2"/>
	        <result property="orders_postcode" column="orders_postcode"/>
	        <result property="ORDERS_DATE" column="ORDERS_DATE"/>
	    </association>
	</resultMap>
	
	
	<select id="getOrdersDetail" resultMap="odRM">
	    SELECT
		        od.ORDERS_DETAIL_NO,
		        p.PRODUCT_NO,
                p.PRODUCT_NAME,
                p.product_cate,
                p.product_photo1,
                p.product_price,
                p.product_status,
		        od.ORDERS_NO,
		        od.ORDERS_DETAIL_AMOUNT,
		        od.ORDERS_DETAIL_PRICE,
		        od.ORDERS_EXCHANGED,
		        od.TRACKING_NUM,
		        od.ORDERS_DETAIL_STATUS,
                mo.MEMBER_NO,
                mo.orders_address,
                mo.orders_address2,
                mo.orders_postcode,
                mo.ORDERS_DATE
	    FROM
	       	 	ORDERS_DETAIL od
        JOIN
                MEMBER_ORDERS mo
        ON
                od.ORDERS_NO = mo.ORDERS_NO
        JOIN
                PRODUCT p
        ON
                od.product_no = p.product_no
	   WHERE
                mo.MEMBER_NO = #{memberNo}
        ORDER
        BY
                mo.ORDERS_DATE
        DESC
</select>
	
	
	
	<select id="getProduct" resultType="product">
	    SELECT
		        product_no,
		        product_name,
		        product_price,
		        product_status,
		        product_date,
		        product_photo1,
		        product_photo2,
		        product_photo3,
		        tag_no,
		        product_detail
	    FROM
	        	PRODUCT
	    WHERE
	        	product_no = #{product_no}			
	</select>
	
	


</mapper>