<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sqlrecord.sqlrecord.product.model.dao.ProductMapper">
	
	<select id="productCount" resultType="_int">
		SELECT
		        COUNT(PRODUCT_NO)
		  FROM
		        PRODUCT
		 WHERE
		        PRODUCT_STATUS='Y'
	</select>
	
	<select id="findAll" resultType="product" parameterType="map">
		SELECT
		        P.PRODUCT_NO productNo,
		        P.PRODUCT_NAME productName,
		        P.PRODUCT_PRICE productPrice,
		        P.PRODUCT_STATUS productStatus,
		        P.PRODUCT_DATE productDate,
		        P.TAG_NO tagNo,
		        P.PRODUCT_DETAIL productDetail,
		        P.PRODUCT_CATE productCate,
		        PH.PHOTO_NO photoNo,
		        PH.PHOTO_NAME photoName,
		        PH.PHOTO_PATH photoPath
		  FROM
		        PRODUCT P
		  LEFT
		  JOIN
		        PRODUCT_PHOTOS PH
		    ON
		        P.PRODUCT_NO = PH.PRODUCT_NO
		 WHERE
		        PRODUCT_CATE = #{productCate}
		   AND
		        PRODUCT_STATUS = 'Y'
		 ORDER
		    BY
		        P.PRODUCT_DATE DESC
	</select>
	
	<!-- 검색결과 수 -->
	<select id="searchCount" parameterType="hashmap" resultType="_int">
		SELECT
				COUNT(PRODUCT_NO)
		  FROM
		  		PRODUCT
		 WHERE
		 		PRODUCT_STATUS='Y'
		 <if test="condition == 'productName'">
		   AND
		   		PRODUCT_NAME
		 </if>
				LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 검색 결과 -->
	<select id="findByConditionAndKeyword" parameterType="hashmap" resultType="product">
		SELECT
		        P.PRODUCT_NO productNo,
		        P.PRODUCT_NAME productName,
		        P.PRODUCT_PRICE productPrice,
		        P.PRODUCT_STATUS productStatus,
		        P.PRODUCT_DATE productDate,
		        P.TAG_NO tagNo,
		        P.PRODUCT_DETAIL productDetail,
		        P.PRODUCT_CATE productCate,
		        PH.PHOTO_NO photoNo,
		        PH.PHOTO_NAME photoName,
		        PH.PHOTO_PATH photoPath
		  FROM
		        PRODUCT P
		  LEFT
		  JOIN
		        PRODUCT_PHOTOS PH
		    ON
		        P.PRODUCT_NO = PH.PRODUCT_NO
		 WHERE
		        PRODUCT_CATE = #{productCate}
		   AND
		        PRODUCT_STATUS = 'Y'
        	<if test="condition == 'productName'">
           		AND PRODUCT_NAME
        	</if>
         		LIKE '%' || #{keyword} || '%'
		 ORDER
		    BY
		        P.PRODUCT_DATE DESC
	</select>
	
</mapper>