<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper
	namespace="com.sqlrecord.sqlrecord.qna.model.dao.QnaMapper">

	<sql id="selectQnaFiles">
		SELECT
		QNAFILE_NO qnafileNo,
		QNAFILE_ORIGINAL originalName,
		QNAFILE_CHANGED changedName,
		QNA_NO qnaNo
		FROM
		QNAFILE

	</sql>


	<select id="findAll" resultType="qna">
		WITH OrderedQNA AS (
			SELECT
				Q.QNA_NO,
				Q.SECRET,
				Q.QNA_TITLE,
				Q.CATEGORY,
				Q.QNA_CONTENT,
				Q.SOLVED,
				Q.COUNT,
				Q.CREATE_DATE,
				Q.CHANGE_DATE,
				Q.DELSTATUS,
				Q.QNA_WRITER_NO,
				M.MEMBER_ID AS memberId,
				ROW_NUMBER() OVER (ORDER BY Q.QNA_NO DESC) AS RNUM
			FROM
				QNA Q
				INNER JOIN MEMBER M ON Q.QNA_WRITER_NO = M.MEMBER_NO
			WHERE
				Q.DELSTATUS = 'Y'
		)
		SELECT
			QNA_NO qnaNo,
			SECRET secret,
			QNA_TITLE qnaTitle,
			CATEGORY qnaCategory,
			QNA_CONTENT qnaContent,
			SOLVED solved,
			COUNT count,
			to_char(CREATE_DATE,'yyyy-mm-dd') createDate,
			to_char(CHANGE_DATE,'yyyy-mm-dd') changeDate,
			DELSTATUS delStatus,
			QNA_WRITER_NO memberNo,
			 memberId
		FROM
			OrderedQNA
		WHERE
			RNUM BETWEEN #{startValue} AND #{endValue}
		ORDER BY 
			QNA_NO DESC
	</select>
	<select id="findAllUnsolved" resultType="qna">
		WITH OrderedQNA AS (
			SELECT
				Q.QNA_NO,
				Q.SECRET,
				Q.QNA_TITLE,
				Q.CATEGORY,
				Q.QNA_CONTENT,
				Q.SOLVED,
				Q.COUNT,
				Q.CREATE_DATE,
				Q.CHANGE_DATE,
				Q.DELSTATUS,
				Q.QNA_WRITER_NO,
				M.MEMBER_ID AS memberId,
				ROW_NUMBER() OVER (ORDER BY Q.QNA_NO DESC) AS RNUM
			FROM
				QNA Q
			INNER JOIN MEMBER M ON Q.QNA_WRITER_NO = M.MEMBER_NO
			WHERE
				Q.DELSTATUS = 'Y'
				AND Q.SOLVED = #{bool}
		)
		SELECT
			QNA_NO AS qnaNo,
			SECRET AS secret,
			QNA_TITLE AS qnaTitle,
			CATEGORY AS qnaCategory,
			QNA_CONTENT AS qnaContent,
			SOLVED AS solved,
			COUNT AS count,
			TO_CHAR(CREATE_DATE, 'yyyy-mm-dd') AS createDate,
			TO_CHAR(CHANGE_DATE, 'yyyy-mm-dd') AS changeDate,
			DELSTATUS AS delStatus,
			QNA_WRITER_NO memberNo,
			QNA_WRITER_NO memberNo,
			memberId
		FROM
			OrderedQNA
		WHERE
			RNUM BETWEEN #{startValue} AND #{endValue}
		ORDER BY 
			QNA_NO DESC
	</select>

	<select id="findByCate" resultType="qna">
		WITH OrderedQNA AS (
			SELECT
				Q.QNA_NO,
				Q.SECRET,
				Q.QNA_TITLE,
				Q.CATEGORY,
				Q.QNA_CONTENT,
				Q.SOLVED,
				Q.COUNT,
				Q.CREATE_DATE,
				Q.CHANGE_DATE,
				Q.DELSTATUS,
				Q.QNA_WRITER_NO,
				M.MEMBER_ID AS memberId,
				ROW_NUMBER() OVER (ORDER BY Q.QNA_NO DESC) AS RNUM
			FROM
				QNA Q
			INNER JOIN MEMBER M ON Q.QNA_WRITER_NO = M.MEMBER_NO
			WHERE
				Q.DELSTATUS = 'Y'
				AND CATEGORY =#{cate}
		)
		SELECT
			QNA_NO qnaNo,
			SECRET secret,
			QNA_TITLE qnaTitle,
			CATEGORY qnaCategory,
			QNA_CONTENT qnaContent,
			SOLVED solved,
			COUNT count,
			to_char(CREATE_DATE,'yyyy-mm-dd') createDate,
			to_char(CHANGE_DATE,'yyyy-mm-dd') changeDate,
			DELSTATUS delStatus,
			QNA_WRITER_NO memberNo,
			memberId
		FROM
			OrderedQNA
		WHERE
			RNUM BETWEEN #{startValue} AND #{endValue}
		ORDER BY QNA_NO DESC

	</select>
	<select id="findByCateUnsolved" resultType="qna">
		WITH OrderedQNA AS (
			SELECT
			Q.QNA_NO,
			Q.SECRET,
			Q.QNA_TITLE,
			Q.CATEGORY,
			Q.QNA_CONTENT,
			Q.SOLVED,
			Q.COUNT,
			Q.CREATE_DATE,
			Q.CHANGE_DATE,
			Q.DELSTATUS,
			Q.QNA_WRITER_NO,
			M.MEMBER_ID AS memberId,
			ROW_NUMBER() OVER (ORDER BY Q.QNA_NO DESC) AS RNUM
		FROM
			QNA Q
		INNER JOIN MEMBER M ON Q.QNA_WRITER_NO = M.MEMBER_NO
		WHERE
			Q.DELSTATUS = 'Y'
			AND CATEGORY =#{cate}
			AND SOLVED = #{bool}
		)
		SELECT
			QNA_NO qnaNo,
			SECRET secret,
			QNA_TITLE qnaTitle,
			CATEGORY qnaCategory,
			QNA_CONTENT qnaContent,
			SOLVED solved,
			COUNT count,
			to_char(CREATE_DATE,'yyyy-mm-dd') createDate,
			to_char(CHANGE_DATE,'yyyy-mm-dd') changeDate,
			DELSTATUS delStatus,
			QNA_WRITER_NO memberNo,
			memberId
		FROM
			OrderedQNA
		WHERE
			RNUM BETWEEN #{startValue} AND #{endValue}
		ORDER BY QNA_NO DESC

	</select>
	<select id="qnaCount" resultType="_int">
		SELECT
		COUNT(QNA_NO)
		FROM
		QNA
		WHERE
		DELSTATUS='Y'

	</select>
	<select id="qnaCountCate" resultType="_int">
		SELECT
		COUNT(QNA_NO)
		FROM
		QNA
		WHERE
		DELSTATUS='Y'
		AND
		CATEGORY=#{cate}

	</select>
	<select id="qnaCountUnsolved" resultType="_int">
		SELECT
		COUNT(QNA_NO)
		FROM
		QNA
		WHERE
		DELSTATUS='Y'
		AND SOLVED = #{bool}
	</select>
	<select id="qnaCountCateUnsolved" resultType="_int">
		SELECT
		COUNT(QNA_NO)
		FROM
		QNA
		WHERE
		DELSTATUS='Y'
		AND
		CATEGORY=#{cate}
		AND SOLVED =
		#{bool}
	</select>
	
	<select id="findById" parameterType="_int" resultType="qna">
		SELECT
			Q.QNA_NO AS qnaNo,
			Q.SECRET AS secret,
			Q.QNA_TITLE AS qnaTitle,
			Q.CATEGORY AS qnaCategory,
			Q.QNA_CONTENT AS qnaContent,
			Q.SOLVED AS solved,
			Q.COUNT AS count,
			TO_CHAR(Q.CREATE_DATE, 'yyyy-mm-dd') AS createDate,
			TO_CHAR(Q.CHANGE_DATE, 'yyyy-mm-dd') AS changeDate,
			Q.DELSTATUS AS delStatus,
			Q.QNA_WRITER_NO AS memberNo,
			M.MEMBER_ID AS memberId
		FROM
			QNA Q,
			MEMBER M
		WHERE
			Q.DELSTATUS = 'Y'
			AND Q.QNA_WRITER_NO = M.MEMBER_NO
			AND Q.QNA_NO = #{qnaNo}
	</select>
	<select id="findComments" resultType="comm">
		SELECT
		    C.COMMENT_NO commentNo,
		    C.QNA_NO qnaNo,
		    C.MEMBER_NO memberNo,
		    C.COMMENT_CONTENT commentContent,
		    TO_CHAR(C.RESDATE, 'yyyy-mm-dd') resdate,
		    C.STATUS status,
		    M.MEMBER_ID memberId
		FROM
		    COMM C
		    INNER JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		WHERE
		    C.STATUS = 'Y'
   			AND C.QNA_NO =#{qnaNo}
	</select>
	<select id="findFiles" resultType="qnaFile">
		<include refid="selectQnaFiles" />
		WHERE
		QNA_NO = #{qnaNo}
	</select>

	<select id="getQnaNo" resultType="int">
		SELECT QNA_SEQ.CURRVAL FROM
		DUAL
	</select>
	<insert id="insert" parameterType="qna">
		INSERT INTO
		QNA(QNA_NO,QNA_TITLE,SECRET,CATEGORY,QNA_CONTENT,CREATE_DATE
		,SOLVED,COUNT,CHANGE_DATE,DELSTATUS,QNA_WRITER_NO)
		VALUES
		(QNA_SEQ.NEXTVAL, #{qnaTitle},#{secret}, #{qnaCategory},
		#{qnaContent}, SYSDATE, 'N', 0, SYSDATE,'Y',#{memberNo})
	</insert>
	<insert id="saveFile" parameterType="qnaFile">
		INSERT INTO QNAFILE
		VALUES
		(QNAFILE_SEQ.NEXTVAL,
		#{originalName}, #{changedName},
		#{qnaNo})
	</insert>
	<insert id="insertComment" parameterType="comm">
		INSERT INTO COMM
		VALUES(
		COMM_SEQ.NEXTVAL,
		#{qnaNo},
		#{memberNo},
		#{commentContent},
		SYSDATE,
		'Y')

	</insert>
	<update id="delete" parameterType="_int">
		UPDATE QNA
		SET
		DELSTATUS='N'
		WHERE
		QNA_NO =
		#{qnaNo}
	</update>
	<delete id="deleteFiles" parameterType="_int">
		DELETE FROM QNAFILE
		WHERE
		QNA_NO =
		#{qnaNo}
	</delete>
	<delete id="deleteFileByPosition" parameterType="_int">
		DELETE FROM QNAFILE
		WHERE QNAFILE_NO = #{qnafileNo}
	</delete>
	<update id="deleteComments" parameterType="_int">
		UPDATE COMM
		SET
		STATUS='N'
		WHERE
		QNA_NO =
		#{qnaNo}
	</update>
	<update id="update" parameterType="qna">
		UPDATE
		QNA
		SET
		QNA_TITLE=#{qnaTitle},
		QNA_CONTENT= #{qnaContent},
		CATEGORY=#{qnaCategory},
		SECRET=#{secret},
		CHANGE_DATE= SYSDATE,
		SOLVED=#{solved}
		WHERE
		QNA_NO = #{qnaNo}

	</update>
	<update id="updateFile" parameterType="qnaFile">
		UPDATE QNAFILE
		SET
		QNAFILE_ORIGINAL = #{originalName},QNAFILE_CHANGED = #{changedName}
	</update>
	<update id="updateComment" parameterType="comm">
		UPDATE COMM
		SET
		COMMENT_CONTENT=#{commentContent}
		WHERE
		COMMENT_NO = #{commentNo}
	</update>

	<update id="deleteSingleComment" parameterType="_int">
		UPDATE COMM
		SET
		STATUS='N'
		WHERE
		COMMENT_NO = #{commentNo}
	</update>
	<select id="findFileById" resultType="qnaFile"
		parameterType="_int">
		<include refid="selectQnaFiles" />
		WHERE
		QNAFILE_NO = #{qnafileNo}
	</select>

</mapper>